APP_NAME=Developer Contact Directory
NODE_ENV=development
APP_PORT=4000
MONGO_URI=mongodb://mongodb:xxxxx/developer-contact-diretory
MONGO_URI_TESTS=mongodb://mongodb:xxxxx/developer-contact-diretory
